body {
  margin: 0;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(84, 37, 37, 1) 0%, rgb(81, 4, 4) 50%, rgba(181, 11, 11, 1) 100%);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Oswald", sans-serif;
}
.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.header {
  text-align: center;
  padding: 1rem;
}
.header h1 {
  font-family: "Pirata One", system-ui;
  font-size: 80px;
  letter-spacing: 4px;
  color: #fff;
  text-shadow:
    0 0 10px rgba(255,0,0,.8),
    0 0 20px rgba(255,0,0,.6),
    0 0 40px rgba(0,0,0,.8);
}


.hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 90%;
  max-width: 1400px;
  margin: 20px auto;
  padding: 40px 0;
  justify-items: center;
}

.tarjetas {
  width: 100%;
  perspective: 1000px;
  background: none;
  border: none;
  cursor: pointer;
}

.card {
  padding-top: 50px;
  border: 3px solid #141414;
  transform-style: preserve-3d;
  background: 
    linear-gradient(135deg, #0000 18.75%, #f3f3f3 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, #f3f3f3 -6.25% 6.25%, #141414 0 18.75%);
  background-size: 60px 60px;
  width: 100%;
  box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  background-position: -50px 50px, -50px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  background: #8ed500;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.content-box .card-title {
  display: inline-block;
  color: #141414;
  font-size: 25px;
  font-weight: 900;
  transform: translate3d(0, 0, 50px);
  transition: all 0.5s ease-in-out;
}

.content-box .card-title:hover {
  transform: translate3d(0, 0, 60px);
}

.content-box .card-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #141414;
  transform: translate3d(0, 0, 30px);
  transition: all 0.5s ease-in-out;
}

.content-box .card-content:hover {
  transform: translate3d(0, 0, 60px);
}

.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  color: #8ed500;
  background: #141414;
  padding: 0.5rem 0.7rem;
  transform: translate3d(0, 0, 20px);
  transition: all 0.5s ease-in-out;
}

.content-box .see-more:hover {
  transform: translate3d(0, 0, 60px);
}

.date-box {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background: #141414;
  border: 1px solid #8ed500;
  padding: 10px;
  transform: translate3d(0, 0, 80px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.date-box span {
  display: block;
  text-align: center;
}

.date-box .month {
  color: #8ed500;
  font-size: 9px;
  font-weight: 700;
}

.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: #8ed500;
}

@media (max-width: 1024px) {
  .hero { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 768px) {
  .hero { grid-template-columns: 1fr; }
}
