<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>A Tope De Revolucione</title>
  <link rel="stylesheet" href="../static/estilos/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pirata+One&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>

<body>
  <header class="header">
    <h1>A Tope Revoluciones</h1>
  </header>

  <section class="hero">
    <div class="menu">

    </div>
    <section class="tarjetas">
      <div class="parent">
        <div class="card">
          <div class="content-box">
            <span class="card-title">Accesorios</span>
            <p class="card-content">
              Conoce nuestra amplia gama de accesorios para tu moto
            </p>
            <span class="see-more">Ver Mas</span>
          </div>
          <div class="date-box">
            <span class="month">JUNE</span>
            <span class="date">29</span>
          </div>
        </div>
      </div>
    </section>

    <section class="tarjetas">
      <div class="parent">
        <div class="card">
          <div class="content-box">
            <span class="card-title">Servicios</span>
            <p class="card-content">
              Conoce nuestros servicios de mantenimiento y reparación
            </p>
            <span class="see-more">Ver Mas</span>
          </div>
          <div class="date-box">
            <span class="month">JUNE</span>
            <span class="date">29</span>
          </div>
        </div>
      </div> 
    </section>

    <section class="tarjetas">
      <div class="parent">
        <div class="card">
          <div class="content-box">
            <span class="card-title">Repuestos</span>
            <p class="card-content">
              Las mejores piezas para que tu motor nunca se detenga
            </p>
            <span class="see-more">Ver Mas</span>
          </div>
          <div class="date-box">
            <span class="month">JUNE</span>
            <span class="date">29</span>
          </div>
          </div>
      </div> 
    </section>

  </section>


</body>
<script>

</script>

</html>